
@{
    ViewBag.Title = "Listagem de Produtos";
}

<h2>@ViewBag.Title</h2>


<table class="table table-striped table-hover table-responsive-sm">
    
    <thead class="thead-light">
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Nome</td>
            <td>@item.TipoProduto</td>
            <td>@item.Valor</td>
        </tr>
        }
    </tbody>

</table>